<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Base para servidor Local --> 
  <!-- <base href="../../"> -->
  <!-- Base para GitHub -->
  <base href="https://fel-bv.github.io/nostradamus/">
  <title>Nostradamus's Project | HTML</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header>
    <a href="/templates/index.html" class="link-indice">ÍNDICE</a>
    <h1>Nostradamus's Project</h1>
  </header>

  <section id="seccion-fondo">
    <video
      src="/static/videos/video fondo.mp4"
      id="video-fondo"
      autoplay="true"
      muted="true"
      loop="true">
    </video>

    <aside>
      
    </aside>

    <main>
      <h1>¿Qué es HTML?</h1>
      <img src="/templates/HTML/img/html.jpg" alt="">
      <p>
        HTML es un lenguaje de marcado de hipertexto, por sus siglas en inglés Hyper-Text Markup Language, este es utilizado principalmente para estructurar el contenido de las páginas web. Este se interpreta al abrir una página web en el navegador, y con ayuda de CSS y JavaScript, se muestra la interfaz gráfica con la que interactuamos.
          
        Para poder organizar el contenido de la página, en HTML se usan un conjunto de etiquetas que semánticamente representan el esquema de la página final, algunas de las etiquetas más comunes son las siguientes:
      </p>
    
      <ul>
        <li>
          !DOCTYPE: Doctype nos ayuda a determinar en qué versión de HTML vamos a trabajar.
        </li>
        <li>
          html: La etiqueta base que inicia el documento.
        </li>
        <li>
          head: Esta etiqueta contiene un árbol de etiquetas que describen las características y recursos de la página web.
        </li>
        <li>
          body: Esta etiqueta contiene lo que los usuarios podemos ver, como texto, botones, títulos, enlaces, etc...
        </li>
        <li>
          p: Con esta etiqueta podemos crear párrafos dentro de la página.
        </li>
        <li>
          button: Esta se utiliza generalmente dentro de las etiquetas <form> para crear botones dentro de formularios.
        </li>
        h1, h2... h6: Con estas etiquetas podemos escribir texto predeterminadamente más llamativo que el resto de etiquetas.
        </li>
        <li>
          a: Con esta etiqueta creamos enlaces a otras páginas web, a archivos de descarga, etc... El enlace que queramos utilizar deberá estar escrito dentro del parámetro "href" de la etiqueta.
        </li>
      </ul>
    
      <p>
        Características
        Este lenguaje no se utiliza para programar, sino para "organizar" el contenido de nuestra página web, pues para programar funciones que agreguen dinamismo a nuestro sitio debemos utilizar el lenguaje de programación JavaScript. Por esto mismo, HTML no es comúnmente utilizado para conformar el front-end de una página web por sí mismo, sino que es complementado con CSS: hoja de estilos en cascada, que agrega estilos a las etiquetas HTML; y JavaScript con las que podemos programar las funciones del sitio.
      </p>
    </main>
  </section>
</body>
</html>