<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Base para servidor Local --> 
  <base href="../">
  <title>Nostradamus's Project | Etiquetas en HTML</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/aside.css">
  <script src="static/js/navegacion.js" defer></script>
</head>
<body>
  <header>
    <a href="../" class="link-indice">ÍNDICE</a>
    <h1>Nostradamus's Project</h1>
  </header>

  <section id="seccion-fondo">
    <video
      src="static/videos/video fondo.mp4"
      id="video-fondo"
      autoplay="true"
      muted="true"
      loop="true">
    </video>

    <aside>
      <ul class="lista-navegador">
        <li class="elemento-navegador">
            <a href="templates/HTML.html">¿Qué es HTML?</a>
        </li>
        <li class="elemento-navegador actual">
            <a href="templates/etiquetas.html">Etiquetas básicas HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/listas.html">Listas en HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/formularios.html">Formularios en HTML</a>
        </li>
        <li class="elemento-navegador">
          <a href="templates/Formulario.html">Formulario</a>
        </li>
      </ul>
    </aside>

    <main>
      <h1> Etiquetas Basicas en HTML. </h1>
        <h2> Etiquetas de raiz. </h2>
        <h4> 
            Para todas las etiquetas es importante decir que se van a declarar
            con los signos de Menor que "<" y la etiqueta Mayor que "/>"
        </h4>
    <p>

        Las etiquetas de raiz, son aquellas que son necesarias para la elaboracion del mismo.
        La primera etiqueta es: La etiqueta doctype la cual expresamos de la siguiente manera
        <code>&#60;!DOCTYPE html/&#62;</code>.

      <br>

        La segunda etiqueta nos sirve para indicar donde se va a declarar el codigo en Html
        y se expresa de la siguiente manera <code>&#60;html&#62; &#60;html/&#62;</code>
    
    </p>

      <h2> Datos medios del documento. </h2>

    <p>
        En este caso los datos medios son aquellos que son requeridos para el cuerpo,
        como el titulo, la asosiacion con CSS y la mas importante que el head
        la cual vamos a expresar de la siguiente manera <code>&#60;head&#62;
        &#60;head/&#62;</code>
    </p>
    
      <br>

    <p>
        Tenemos tambien la etiqueta del titulo de nuestras pagina la cual es 
        <code>&#60;title&#62;  &#60;title/&#62;</code>

      <br>
        
        Una etiqueta importante es con la que podemos asociar una hoja donde le podemos dar estilos  
        a nuestra pagina de html 
        <code>&#60;title&#62;   &#60;link/&#62;</code> dentro de esta vamos a declarar lo siguiente
        <code>&#60; rel="stylesheet" href="Declaramos el nombre de nuestra hoja de CSS"&#62;</code>
    </p>

      <h2> Etiquetas de estructura HTML. </h2>

    <p>
        En este apartado tenemos las siguientes etiquetas:

        La etiqueta body en esta etiqueta es donde vamos a declarar y darle cuerpo a nuestra pagina
        <code>&#60;body&#62;  &#60;body/&#62;</code>
    </p>

    <p>
        La etiqueta main nos va a servir para definir el contenido princial de la pagina,
        cabe aclarar que solo podemos declarar una por documento
        <code>&#60;main&#62;  &#60;main/&#62;</code>.    
    </p>

    <p>
      Dentro de estas etiquetas se contiene el contenido adicional de la pagina web, 
      Suele ser contenido relacionado con la web pero de poca importancia.
      <code>&#60;aside&#62;  &#60;aside/&#62;</code>. 
    </p>

    <p>
      Son etiquetas HTML de suma importancia con las cuales vamos a darles ese tamaño necesario,
      para diferenciar (titulos, subtitulos, etc) Estas etqieutas son 
      <code>&#60;h1&#62;  &#60;h1/&#62;</code>. 
      <code>&#60;h2&#62;  &#60;h2/&#62;</code>. 
      <code>&#60;h3&#62;  &#60;h3/&#62;</code>. 
      <code>&#60;h4&#62;  &#60;h4/&#62;</code>. 
      <code>&#60;h5&#62;  &#60;h5/&#62;</code>. 
      <code>&#60;h6&#62;  &#60;h6/&#62;</code>. 
    </p>

    <p>
      Etiqueta que nos va a servir para indicar el encabezado de una pagina:
      <code>&#60;header&#62;  &#60;header/&#62;</code>. 
    </p>

    <p>
      Para el pie de la pagina tenemos la etiqueta <code>&#60;footer&#62;  &#60;footer/&#62;</code>. 
    </p>


        <h2> Etiquetas para la agrupacion de contenido. </h2>

    <p>
      La etiqueta para indicar la constancia de algun texto tenemos la etiqueta de parrafo
      <code>&#60;p&#62;  &#60;p/&#62;</code>.   
    </p>

    <P>
      Tenemos una etiqueta para romper o espaciar entre textos esta es. 
      <code>&#60;hr&#62;  &#60;hr/&#62;</code>. 
    </p>

    <p>
      En este caso tenemos dos etiquetas que son utilizadas para la creacion de listas. 
      La primera es <code>&#60;ol&#62;  &#60;ol/&#62;</code>. 
      
      <br>
  
      Esta nos va a servir para 
      crear listas de manera ordenada, en caso contrario tenemos la etqueta:
      <code>&#60;ul&#62;  &#60;ul/&#62;</code>.
      
      <br>

      Y tenemos una etiqueta que nos va a ayudar a recoger el contenido de una lista ya sea de manera,
      ordenada o des-ordenada, <code>&#60;li&#62;  &#60;li/&#62;</code>. 
    </p>

    <p>
      Para crear algun contenedor o alguna caja tenemos la etiqueta 
      <code>&#60;div&#62;  &#60;div/&#62;</code>. 
    </p>


        <h2> Etiquetas semanticas para el texto </h2>

    <p>
      Esta etiqueta es muy importante para crear hiper-enlaces,
      y es muy utilizada para los links. 
      <code>&#60;a&#62;  &#60;a/&#62;</code>. 
    </p>

    <p>
      Tenemos las etqieutas strong y small.
      La etiqueta strong nos va a ayudar para definir que una palabra es importante
      <code>&#60;strong&#62;  &#60;strong/&#62;</code>. 
      
      La etiqueta small va a dejar un comentario aparte como son los derechos de autor.
      <code>&#60;small&#62;  &#60;small/&#62;</code>. 
    </p>

    <p>
      Esta etiqueta no tiene niguna funcion en comun asi que la vamos a utlizar en conjunto con los atributos,
      <code> class </code> y  <code> id </code>. 
    </p>

    <p>
      La etiqueta br solo va a dar un salto de linea. 
      <code>&#60;br&#62;  &#60;br/&#62;</code>.
    </p>

    <h2> Etiquetas para la introduccion de contenido </h2>
    <p>
      Tenemos la etiqueta img, la cual nos va a insertar una imagen en nuestra pagina web.
      <code>&#60;img&#62;</code>.
    </p>

    <p>
      Esta etiqueta nos va a ayudar a reproducir archivos de video, audio. 
      <code>&#60;video&#62;  &#60;video/&#62;</code>.  
    </p>

    <p>
      Con esta etiqueta vamos a introducir en la web un archivo de audio o stream de audio. 
      <code>&#60;audio&#62;  &#60;audio/&#62;</code>. 
    </p>


      <footer>
        <div class="botones">
          <a class="boton-secundario" id="articulo-previo">
            Prev.
          </a>
          <a class="boton-secundario" id="articulo-siguiente">
            Sig.
          </a>
        </div>
      </footer>
    </main>
  </section>
</body>
</html>