<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Base para servidor Local --> 
  <base href="../">
  <title>Nostradamus's Project | Etiquetas en HTML</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/aside.css">
  <script src="static/js/navegacion.js" defer></script>
</head>
<body>
  <header>
    <a href="../" class="link-indice">ÍNDICE</a>
    <h1>Nostradamus's Project</h1>
  </header>

  <section id="seccion-fondo">
    <video
      src="static/videos/video fondo.mp4"
      id="video-fondo"
      autoplay="true"
      muted="true"
      loop="true">
    </video>

    <aside>
      <ul class="lista-navegador">
        <li class="elemento-navegador">
            <a href="templates/HTML.html">¿Qué es HTML?</a>
        </li>
        <li class="elemento-navegador actual">
            <a href="templates/etiquetas.html">Etiquetas básicas HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/listas.html">Listas en HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/formularios.html">Formularios en HTML</a>
        </li>
        <li class="elemento-navegador">
          <a href="templates/Formulario.html">Formulario</a>
        </li>
      </ul>
    </aside>

    <main>
      <h1> Etiquetas Basicas en HTML. </h1>
        <h2> Etiquetas de raiz. </h2>
        <h4> 
            Para todas las etiquetas es importabte decir que se van a declarar
            con los signos de Menor que "<" y la etiqueta Mayor que "/>"
        </h4>
    <p>

        Las etiquetas de raiz, son aquellas que son necesarias para la elaboracion del mismo.
        La primera etiqueta es: La etiqueta doctype la cual expresamos de la siguiente manera
        &#60;!DOCTYPE html/&#62;

        La segunda etiqueta nos sirve para indicar donde se va a declarar el codigo en Html
        y se expresa de la siguiente manera &#60;html&#62; &#60;html/&#62;
    
    </p>

      <h2> Datos medios del documento. </h2>

    <p>
        En este caso los datos medios son aquellos que son requeridos para el cuerpo,
        como el titulo, la asosiacion con CSS y la mas importante que el head
        la cual vamos a expresar de la siguiente manera &#60;head&#62; 
        &#60;head/&#62;
        
        Tenemos tambien la etiqueta del titulo de nuestras pagina la cual es 
        &#60;title&#62;  &#60;title/&#62;
        
        Una etiqueta importante es con la que podemos asociar una hoja donde le podemos dar estilos  
        a nuestra pagina de html 
        &#60;title&#62;   &#60;link/&#62; dentro de esta vamos a declarar lo siguiente
        &#60; rel="stylesheet" href="Declaramos el nombre de nuestra hoja de CSS"&#62;
    </p>

      <h2> Etiquetas de estructura HTML. </h2>

    <p>
        En este apartado tenemos las siguientes etiquetas:

        La etiqueta body en esta etiqueta es dodne vamos a declarar y darle cuerpo a nuestra pagina
        &#60;body&#62;  &#60;body/&#62;

        
    </p>


      <footer>
        <div class="botones">
          <a class="boton-secundario" id="articulo-previo">
            Prev.
          </a>
          <a class="boton-secundario" id="articulo-siguiente">
            Sig.
          </a>
        </div>
      </footer>
    </main>
  </section>
</body>
</html>