<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Base para servidor Local --> 
  <base href="../">
  <title>Nostradamus's Project | Formularios en HTML</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/aside.css">
  <script src="static/js/navegacion.js" defer></script>
</head>
<body>
  <header>
    <a href="../" class="link-indice">ÍNDICE</a>
    <h1>Nostradamus's Project</h1>
  </header>

  <section id="seccion-fondo">
    <video
      src="static/videos/video fondo.mp4"
      id="video-fondo"
      autoplay="true"
      muted="true"
      loop="true">
    </video>

    <aside>
      <ul class="lista-navegador">
        <li class="elemento-navegador">
            <a href="templates/HTML.html">¿Qué es HTML?</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/etiquetas.html">Etiquetas básicas HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/listas.html">Listas en HTML</a>
        </li>
        <li class="elemento-navegador actual">
            <a href="templates/formularios.html">Formularios en HTML</a>
        </li>
        <li class="elemento-navegador">
          <a href="templates/Formulario.html">Formulario</a>
        </li>
      </ul>
    </aside>

    <main>
      <h1>Formularios en HTML</h1>
      <p>
        Un fromulario en HTML es un una caja de elemento que puede contener casillas de
        verificación, botones y campos alfanumericos. Suelen encontrarse en sitios web para
        recolectar los datos personales de los usarios interesados en la oferta del sitio.
      </p>
      <h3>Estructura de un formulario en html</h3>
      <p>
        Un formulario en HTML no requiere tantas etiquetas y atributos, simepre y cuando lo 
        mantengas en un formato básico.
      </p>
      <h3>Etiquetas para un formulario</h3>
      <p>
        Sus etiquetas son <code>&#60;form&#62;&#60;/form&#62;</code>
        <br>
        Dentro de ellas se agregan todos los atributos necesarios para dar estructura a tu
        formulario, los cuales son:
      </p>
      <ul>
        <li>
          <b>Action</b>: Especifica la acción asociada al formulario.
        </li>
        <li>
          <b>Method</b>: Inicia el método de acceso en el servidor de la acción del formulario.
        </li>
        <li>
          <b>Enctype</b>: Determina el tipo de codificación nombre/valor. 
        </li>
      </ul>
      <h3>Input</h3>
      <p>
        Su etiqueta es <code>&#60;input&#62;</code>, cuenta con diferentes tipos de entrada:
      </p>
      <ul>
        <li>
          <b>Texto:</b> Se expresa como <code>&#60;input type="text"&#62;</code>
          y es por defecto la entrada de una sola linea.
        </li>
        <li>
          <b>Caja de selección:</b> Se expreza como <code>&#60;input type="checkbox"&#62;</code>
          y sirve para representar opciónes como "Sí" y "No".
        </li>
        <li>
          <b>Botón:</b> Su etiqueta es <code>&#60;input type="radio"&#62;</code> representa un conjunto de varios elemenos de este tipo con el mismo nombre con un campo de seleccion multiple
        </li>
        <li>
          <b>Botón de envío:</b> Se expresa como <code>&#60;input type="submit"&#62;</code>
          y representa la opción de lo que tiene que hacer el usuario, que es, en este caso,
          enviar el formulario.
        </li>
      </ul>
      <h3>Select</h3>
      <p>
        Su etiqueta es <code>&#60;select&#62;</code> se utiliza para reducir una lista de
        valores, por ejemplo:
      </p>
      <ul>
        <li>
          <b>Multiple:</b> Indica que puede haber más de una opción. 
        </li>
        <li>
          <b>Name:</b> Nombre de campo.
        </li>
        <li>
          <b>Size:</b> Numero de items visibles.
        </li>
      </ul>
      <h3>Text area</h3>
      <p>
        Su etiqueta es <code>&#60;textarea&#62;</code>, representa el espacio donde puedes
        añadir todo el texto que requieras y puede tener los sigientes atributos.
      </p>
      <ul>
        <li>
          <b>Cols:</b> Numero de columnas visibles.
        </li>
        <li>
          <b>Name:</b> Nombre del campo.
        </li>
        <li>
          <b>Rows:</b> Numero de lineas posibles.
        </li>
      </ul>
      <h2>Conclusión</h2>
      <p>
        Los formularios son muy útiles actualmete, por eso hay que aprender a hacerlos.
      <p>

      <footer>
        <div class="botones">
          <a class="boton-secundario" id="articulo-previo">
            Prev.
          </a>
          <a class="boton-secundario" id="articulo-siguiente">
            Sig.
          </a>
        </div>
      </footer>
    </main>
  </section>
</body>
</html>