<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Base para servidor Local --> 
  <base href="../">
  <title>Nostradamus's Project | Formularios en HTML</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/aside.css">
  <script src="static/js/navegacion.js" defer></script>
</head>
<body>
  <header>
    <a href="../" class="link-indice">ÍNDICE</a>
    <h1>Nostradamus's Project</h1>
  </header>

  <section id="seccion-fondo">
    <video
      src="static/videos/video fondo.mp4"
      id="video-fondo"
      autoplay="true"
      muted="true"
      loop="true">
    </video>

    <aside>
      <ul class="lista-navegador">
        <li class="elemento-navegador">
            <a href="templates/HTML.html">¿Qué es HTML?</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/etiquetas.html">Etiquetas básicas HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/listas.html">Listas en HTML</a>
        </li>
        <li class="elemento-navegador actual">
            <a href="templates/formularios.html">Formularios en HTML</a>
        </li>
        <li class="elemento-navegador">
          <a href="templates/Formulario.html">Formulario</a>
        </li>
      </ul>
    </aside>

    <main>
      <h1>Formularios en HTML</h1>

      <p>

      </p>

      <footer>
        <div class="botones">
          <a class="boton-secundario" id="articulo-previo">
            Prev.
          </a>
          <a class="boton-secundario" id="articulo-siguiente">
            Sig.
          </a>
        </div>
      </footer>
    </main>
  </section>
</body>
</html>