<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Base para servidor Local --> 
  <base href="../">
  <title>Nostradamus's Project | Formulario</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/formulario.css">
  <link rel="stylesheet" href="static/css/aside.css">
</head>
<body>
  <header>
    <a href="../" class="link-indice">ÍNDICE</a>
    <h1>Nostradamus's Project</h1>
  </header>

  <section id="seccion-fondo">
    <video
      src="static/videos/video fondo.mp4"
      id="video-fondo"
      autoplay="true"
      muted="true"
      loop="true">
    </video>

    <aside>
      <ul class="lista-navegador">
        <li class="elemento-navegador">
            <a href="templates/HTML.html">¿Qué es HTML?</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/etiquetas.html">Etiquetas básicas HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/listas.html">Listas en HTML</a>
        </li>
        <li class="elemento-navegador">
            <a href="templates/formularios.html">Formularios en HTML</a>
        </li>
        <li class="elemento-navegador actual">
          <a href="templates/Formulario.html">Formulario</a>
        </li>
      </ul>
    </aside>

    <main>
      <h1>Formulario</h1>

      <form>
        <ul class="lista-formulario">
         <li class="formularios">
           <label for="name">Nombre:</label>
           <input type="text" id="name" name="user_name"placeholder="coloca tu nombre">
         </li>
         <li class="formularios">
           <label for="email">Gmail:</label>
           <input type="search" id="search" name="email" placeholder="coloca tu e-mail">
         </li>
         <li>
          <label for="sexo">Sexo</label>
          <select name="sexo">
            <option>por favor</option>
            <option>no gracias</option>
            <option>masculino</option>
            <option>femenino</option>
          </select>
        </li>
        <li>
          <label for="edad">Edad</label>
          <input type="range">
        </li>
        </ul>
        <button type="reset" id="reiniciar-formulario">Reiniciar Formulario</button>
        <button type="button"label>Enviar</button>
       </form>
    </main>
  </section>
</body>